.nav-bg {
        background-color: #1C2331 !important;
}
.navbar-brand {
        font-family: 'Noto Sans KR', sans-serif;
}
.nav-link {
        font-family: 'Noto Sans KR', sans-serif;
}
.nav-item{
       
}